proxmox_endpoint  = "https://10.20.10.1:8006"
proxmox_api_token = "root@pam!terraform=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

storage         = "local-lvm"
network_bridge  = "vmbr0"
network_gateway = "10.20.10.1"
network_prefix  = "10.20.10"

lxc_template = "local:vztmpl/debian-12-standard_12.12-1_amd64.tar.zst"

root_password  = "changeme123!"
ssh_public_key = "ssh-ed25519 AAAA..."
